@model IEnumerable<password.mvc.Models.LoginViewModel>

@{
    ViewBag.Title = "ListPasswords";
}

<h2>List Passwords</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Site)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Site)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("View", "ViewLogin", new { site = item.Site})
        </td>
        
    </tr>
}

</table>
